@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    max-width: 100%;
}

:root {
    --primary: #00afef;
    --secondary: #008ccf;
    --gray: #e5e5e5;
    --white: #ffffff;
    --black: #000000;
}

/*INDEX*/
.logo {
    width: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*PRINCIPAL*/
header img {
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding: 5px;
}
.container {
    margin: 0 1rem;
}

.tt {
    margin: 0 auto 1rem 1rem;
}

.container h2 {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}
hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid var(--black);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    background-color: var(--primary);
    border: none;
}

button p {
    color: var(--white);
    text-decoration: none !important;
    font-size: 1rem;
    font-weight: bold;
}

.um {
    margin-right: auto;
}

/*ASSINATURA*/
main {
    margin: 1rem;
}
main > h1 {
    display: flex;
    justify-content: center;
    margin-top: -3rem;
    margin-bottom: 2rem;
}
main > div {
    display: flex;
}
main p {
    margin-left: 10px;
}
main > h3 {
    margin-top: 2rem;
}
main img {
    width: 20rem;
    height: auto;
}
.seta {
    width: 2rem;
    height: auto;
    margin: 10px;
}

.blink {
    background-color: var(--secondary);
    padding: 0.5rem;
    border-radius: 1rem;
    animation: blink-animation 0.5s steps(2, start) infinite;
  }
  
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }